html { background-color: #1e2823; }
body { padding:0; margin: 0; }
.border-right {
    border-right: 1px dashed #333;
}
.home_header {
    color: white;
    text-shadow: 3px 3px black;
    background:linear-gradient(90deg,#009345,#006838);
    height: 50px;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    font-family:'bebasregular';
    position: absolute;
    top: 0;
    width:100%;
}

.menu_page a {
    width: 90%;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
    background-color: #009345;
    height: 25px;
    margin: auto;
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
    transition: 0.2s;
    border: 1px solid darkgreen;
    border-radius:10px;
}

.menu_page a:hover {
    background-color: #333;
    color: #DDD;
}

.footer {
    width: 100%;
    color: white;
    font-family: sans-serif;
    text-align: center;
    height: 25px;
    padding-top: 10px;
    background-color: black;
    position: absolute;
    bottom: 0;
}


.menu {
    margin-top:100px;
    display: flex;
    flex-direction: column;
}
.player {
    border-bottom: 2px solid #000;
    background-color: #1e2823;
}
.game_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.game_grid .player:first-of-type {
    border-right: 2px solid #000000;
}

.buttons {
    grid-column: 1/3;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width:calc(100% - 60px);
    max-width: 500px;
    margin: auto;
    border-bottom: 1px dashed #333;
    padding-bottom: 10px;
}
.red_grid { grid-row:1/3; grid-column: 1/3; border:15px solid; }
#red { border-color: red; }
#yellow { border-color: yellow;}
#green { border-color: green; }
#brown { border-color: saddlebrown; }
#blue { border-color: blue; }
#pink { border-color: hotpink; }
#black { border-color: black; }

#red_log { background-color:red; }
#yellow_log { background-color: yellow;}
#green_log { background-color: green; }
#brown_log { background-color: saddlebrown; }
#blue_log { background-color: blue; }
#pink_log { background-color: hotpink; }
#black_log { background-color: black; }

.current_player {
    background:linear-gradient(90deg,#009345,#006838);
    text-shadow:3px 3px 0 #000;
}

.ball {

    width: auto;
    height: auto;
    padding: 10px;
    transition: 0.2s;
    border-radius: 60%;
    cursor: pointer;
    border: 10px solid;
}

.label {
    position: absolute;
    color: white;
    text-align: center;
    font-family:sans-serif;
}

.ball:hover {

    border-color: white !Important;

}


.player h1 {
    font-family: 'bebasregular';
    color: white;
    text-align: center;
    transition:0.2s;

}

.button_game {
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    background-color: #009345;
    height: 25px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid darkgreen;
    border-radius:10px;


}


.button_game:hover {
    background-color: #333;
    background-color: #333;
}

.score {
    text-align: center;
    margin-top: 12px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    border-top: 1px dashed #333;
    padding-top: 6px;

}
.difference {
    text-align: center;
        padding-top: 10px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;

}
.score::before {
    content: 'Score: ';
}

.ball_log {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}

.log {
    padding-top: 15px;
}

.game_footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    width:calc(100% - 10px);
    padding-left: 5px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right: 5px;
    align-self: baseline;
    font-size: 10px;
    color: white;
}

.footer_content {
    grid-column: 2/3;
}

.remaining {
    grid-column: 1/3;
    width: 100%;
    color: white;
    text-align: center;
    font-family: sans-serif;
    position: fixed;
    bottom: 30px;
}

.remaining::before { content:' Remaining: '; }

@font-face {
    font-family: 'bebasregular';
    src: url('./fonts/BEBAS___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.modal {
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
}

.modal_content {
    width: 80%;
    margin: auto;
    background:linear-gradient(90deg,#009345,#006838);
    height: auto;
    max-width: 900px;
    min-height: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 80%;
    padding: 3px;
    font-family: sans-serif;
    color: white;
}

.modal_content h1 {
    font-family:bebas;
}
.exit_modal {
    float:right;
    margin-top: 5px;
    margin-right: 5px;
    font-family: sans-serif;
    color: white;
    transition:0.2s;
    cursor: pointer;
}

.exit_modal:hover {
    color:black;
}
