html { background-color: #1e2823; }
body { padding:0; margin: 0; }

.home_header {
    color: white;
    text-shadow:4px 4px #333;
    background:linear-gradient(90deg,#009345,#006838);
    height: 50px;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    font-family:'bebasregular';
    position: absolute;
    top: 0;
    width:100%;
}

.menu_page a {
    width: 100%;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
    background-color: #009345;
    height: 25px;
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
    transition: 0.2s;
}

.menu_page a:hover {
    background-color: #333;
    color: #DDD;
}

.footer {
    width: 100%;
    color: white;
    font-family: sans-serif;
    text-align: center;
    height: 25px;
    padding-top: 10px;
    background-color: #603813;
    position: absolute;
    bottom: 0;
}

.menu {
    margin-top:100px;
}
.player {
    border-bottom: 2px solid #000;
    background-color: #1e2823;
}
.game_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.game_grid .player:first-of-type {
    border-right: 2px solid #000000;
}

.buttons {
    grid-column: 1/3;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width:calc(100% - 20px);
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
        max-width: 500px;
    margin: auto;
}
.red_grid { grid-row:1/3; grid-column: 1/3; border:15px solid; }
#red { border-color: red; }
#yellow { border-color: yellow;}
#green { border-color: green; }
#brown { border-color: saddlebrown; }
#blue { border-color: blue; }
#pink { border-color: hotpink; }
#black { border-color: black; }

#red_log { background-color:red; }
#yellow_log { background-color: yellow;}
#green_log { background-color: green; }
#brown_log { background-color: saddlebrown; }
#blue_log { background-color: blue; }
#pink_log { background-color: hotpink; }
#black_log { background-color: black; }

.current_player {
    background:linear-gradient(90deg,#009345,#006838);
    text-shadow:3px 3px 0 #000;
}

.ball {

    width: auto;
    height: auto;
    transition: 0.2s;
    border-radius: 60%;
    cursor: pointer;
    border: 10px solid;
}

.label {
    position: absolute;
    color: white;
    text-align: center;
    font-family:sans-serif;
}

.ball:hover {
    color: darkgrey;
}


.player h1 {
    font-family: 'bebasregular';
    color: white;
    text-align: center;
    transition:0.2s;

}

.button_game {
   /* grid-column: 1/3; */
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    background-color: #009345;
    height: 25px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.2s;

}


.button_game:hover {
    background-color: #333;
    background-color: #333;
}

.score {
    text-align: center;

    margin-top: 30px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;

}
.difference {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;

}
.score::before {
    content: 'Score: ';
}

.ball_log {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}

.log {
    margin-top: 15px;
}

.game_footer {
    position: fixed;
    bottom: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    text-align: center;
    height: 30px;
    font-family: sans-serif;
    background-color: brown;
    padding-top: 10px;
    width:calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    align-self: baseline;
    font-size: 18px;
    color: white;
}

.footer_content {
    grid-column: 2/3;
}

.remaining {
    grid-column: 1/2;
}

.remaining::before { content:' Remaining: '; }

@font-face {
    font-family: 'bebasregular';
    src: url('./fonts/BEBAS___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

